{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}


<header class="page-header page-header-dark bg-img-cover overlay overlay-80" style='background-image: url("https://miro.medium.com/max/6000/0*LcTx5v4K9BSu11zk")'>
	<div class="page-header-content pt-10 pb-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-8 col-lg-10 text-center">
					<div data-aos="fade-up">
						<h1 class="page-header-title">ABOUT ME</h1>
						<p class="page-header-text">I am an full-stack software developer and lifelong learner.</p>
					</div>
				</div>


			</div>
		</div>
	</div>
	<div class="svg-border-angled text-gray-400">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100" /></svg>
	</div>
</header>

<section class="bg-gray-400 py-10">
	<div class="container">
		<div class="row text-center">

			<div class="col-lg-4 mb-5 mb-lg-0">
				<div class="icon-stack icon-stack-xl bg-black text-white mb-4"><i data-feather="smartphone"></i></div>
				<h3>Mobile Development</h3>
				<p class="mb-0">4 years creating iOS apps applications using a wide range of the iPhone's built in technology</p>
			</div>
			<div class="col-lg-4 mb-5 mb-lg-0">
				<div class="icon-stack icon-stack-xl bg-gray-900 text-white mb-4"><i data-feather="list"></i></div>
				<h3>Web Development</h3>
				<p class="mb-0">5 years frontend and backend web applications</p>
			</div>
			<div class="col-lg-4">
				<div class="icon-stack icon-stack-xl bg-gray-800 text-white mb-4"><i data-feather="code"></i></div>
				<h3>Machine Learning</h3>
				<p class="mb-0">1 year applying Machine Learning into applications, including applying GPT-3 on my tryrix.com project.</p>
			</div>

		</div>
		<div class="row text-center mt-5">
			<div class="col-lg-4">
				<div class="icon-stack icon-stack-xl bg-gray-800 text-white mb-4"><i data-feather="cloud"></i></div>
				<h3>Cloud Technology</h3>
				<p class="mb-0">4 year provisioning cloud environments and creating cloud applications</p>
			</div>
			<div class="col-lg-4">
				<div class="icon-stack icon-stack-xl bg-gray-700 text-white mb-4"><i data-feather="book-open"></i></div>
				<h3>Requirements Gathering</h3>
				<p class="mb-0">6 years gathering requirements to build software in a wide range of industries</p>
			</div>
			<div class="col-lg-4">
				<div class="icon-stack icon-stack-xl bg-gray-600 text-white mb-4"><i data-feather="zap"></i></div>
				<h3>Product Management</h3>
				<p class="mb-0">4 years managing developers as a Product Manager to create software products</p>
			</div>


		</div>
	</div>
	<div class="svg-border-waves text-gray-800">
		<svg class="wave" style="pointer-events: none" fill="currentColor" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
			<defs>
				<style>
					.a {
						fill: none;
					}
					.b {
						clip-path: url(#a);
					}
					.d {
						opacity: 0.5;
						isolation: isolate;
					}
				</style>
				<clippath id="a"><rect class="a" width="1920" height="75"></rect></clippath>
			</defs>
			<title>wave</title>
			<g class="b"><path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path></g>
			<g class="b"><path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path></g>
			<g class="b"><path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path></g>
			<g class="b"><path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path></g>
		</svg>
	</div>
</section>


<section class="bg-gray-800 py-10">

	<div class="container">
		<div class="card mb-5 aos-init" data-aos="fade-right">
			<div class="row no-gutters">
				<div class="col-md-6">
					<img class="img-fluid" src="https://www.marksei.com/wp-content/uploads/2018/06/GitHub-logo.png" alt="...">
				</div>
				<div class="card-body d-flex align-items-center justify-content-center h-100 pt-10 flex-column">
					<h3 class="card-title font-weight-bold text-uppercase mb-2">GitHub</h3>
					<p class="card-text font-weight-light mb-4">Check out my code</p>
					<a class="btn btn-outline-dark btn-marketing rounded-pill" href="https://github.com/joshbickett">Click here</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="card mb-5 aos-init" data-aos="fade-left">
			<div class="row no-gutters">
				<div class="card-body d-flex align-items-center justify-content-center h-100 pt-10 flex-column">
					<h3 class="card-title font-weight-bold text-uppercase mb-2">Medium</h3>
					<p class="card-text font-weight-light mb-4">I write about many topics such as life, technology, and books.</p>
					<a class="btn btn-outline-dark btn-marketing rounded-pill" href="https://joshbickett.medium.com/">Click here</a>
				</div>
				<div class="col-md-6">
					<img class="img-fluid" src="https://miro.medium.com/max/1433/1*jcY-BmXNNrWTJCOchzqJrQ.jpeg" alt="...">
				</div>

			</div>
		</div>
	</div>

	<div class="svg-border-rounded text-gray-300">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
	</div>


</section>

<section class="bg-gray-300 py-10">


	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<img class="img-fluid rounded-circle mb-3" src="{% static 'portfolio/me.jpeg' %}" alt="...">
				<h2>Contact me</h2>
				<p class="mb-5">I am open to exciting opportunities working on the future of Machine Learning and AI.</p>
				<div class="row">
					<div class="col">
						<div class="card">
							<div class="card-body">
								<div class="icon-stack icon-stack-lg bg-orange text-white mb-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg></div>
								<div class="small"><a href="mailto:josh@bickett.net">josh@bickett.net</a></div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card">
							<div class="card-body">
								<div class="icon-stack icon-stack-lg bg-green text-white mb-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-smartphone"><rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect><line x1="12" y1="18" x2="12.01" y2="18"></line></svg></div>
								<div class="small">714-747-4702</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="svg-border-angled text-black">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100" /></svg>
	</div>


</section>

{% endblock content %}
